a:link {
    text-decoration:none;
}

a:visited {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
    opacity:0.5;
}

a:active {
    text-decoration:none;
}

.main-row {
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.main-col-left {
	padding: 20px;
	margin-left: 8%;
	text-align: left;
}

.main-col-right {
	padding: 20px;
	text-align: right;
}

.col-header-l {
	padding: 10px 20px 10px 20px;
	margin-left: 8%;
	text-align: left;
}

.col-header-r {
	padding: 10px 20px 10px 20px;
	text-align: right;
}

.header-col {
	padding: 20px;
	border-right: 1px solid #ddd;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.header-row {
	background-color: #f9f9f9;
	border-bottom: 5px solid #000;
}

.w-border {
	border-left: 1px solid #ddd;
}

@media only screen and (min-width: 788px){
	body{
		background-color: #ebebe5;
	}
	.header{
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		position: static;
	}
	.container{
		background-color: #fff;
		max-width: 768px;
		box-shadow: 0 2px 3px #aaa;
		border-radius: 2px;
		margin-bottom: 10px;
	}
}
